A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.canal:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.canal:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.canal:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.copy:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: underline
}
A.copy:visited {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: underline
}
A.copy:hover {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: underline
}
A.lazul:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fae805; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.lazul:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fae805; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.lazul:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fae805; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.lamarelo:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000b0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.lamarelo:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000b0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.lamarelo:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000b0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.busca {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0000b0; FONT-FAMILY: Arial, Helvetica
}
.OptionSearch {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica
}
.link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #9b9bff; FONT-FAMILY: Verdana, Arial, Helvetica
}
.formulario {
	BORDER-RIGHT: #0000b0 1px solid; BORDER-TOP: #0000b0 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #0000b0 1px solid; COLOR: #0000b0; BORDER-BOTTOM: #0000b0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.formulario1 {
	BORDER-RIGHT: #0000b0 1px solid; BORDER-TOP: #0000b0 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #0000b0 1px solid; COLOR: #0000b0; BORDER-BOTTOM: #0000b0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.botao {
	BORDER-RIGHT: #0000b0 1px solid; BORDER-TOP: #0000b0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #0000b0 1px solid; COLOR: #fae805; BORDER-BOTTOM: #0000b0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0000b0
}
.botao1 {
	BORDER-RIGHT: #0000b0 0px solid; BORDER-TOP: #0000b0 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #0000b0 0px solid; COLOR: #fae805; BORDER-BOTTOM: #0000b0 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0000b0
}
.azul {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #fae805; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #0000b0
}
.publicidade {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica
}
UNKNOWN {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica
}
.letters {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica
}
.detalhes {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
.amarelo {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #0000b0; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.tabdireito {
	BORDER-RIGHT: #0000b0 1px solid; BORDER-TOP: #0000b0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #0000b0 1px solid; COLOR: #fae805; BORDER-BOTTOM: #0000b0 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eaeaff
}
.tab_afiliados {
	BORDER-RIGHT: silver 0px dashed; BORDER-TOP: silver 0px dashed; FONT-SIZE: 10px; BORDER-LEFT: silver 0px dashed; COLOR: #999999; BORDER-BOTTOM: silver 0px dashed; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
A.menu2:link {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.menu2:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.menu2:hover {
	FONT-SIZE: 11px; COLOR: #a9a9a9; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tbc {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f9fe
}
.tfora {
	BORDER-RIGHT: #0000b0 1px solid; BORDER-TOP: #0000b0 1px solid; BORDER-LEFT: #0000b0 1px solid; BORDER-BOTTOM: #0000b0 1px solid
}
